{% extends 'base.html' %}

  <title>Login</title>

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h1>Iniciar Sesion</h1>

        <form method="post" action="">
          {% csrf_token %}

         <div class="row">


<div class="input-field col s12">

  <input id="id_username" class="validate " type="text" value="" name="username" required>

  <label for="id_username">Nombre de usuario o email<span class="input-required">*</span>
  </label>

</div>

         <div class="row">


<div class="input-field col s12">

  <input id="id_password" class="validate " type="password" value="" name="password" required>

  <label for="id_password">Contraseña<span class="input-required">*</span></label>

</div>


  </div>

           <button class="btn waves-effect" type="submit">Login</button>
          <a class="btn waves-effect" href="{% url 'authentication:register' %}">Crear cuenta</a>
          <a class="btn waves-effect blue" href="{% url 'authentication:password_reset' %}">¿Olvidado contraseña?</a>


          </div>

        </form>



      </div>
    </div>
  </div>
{% endblock content %}
