{% extends 'base.html' %}

{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h1>{{ title }}</h1>
        <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos
          por correo electrónico las instrucciones para establecer una nueva.</p>

        <form method="post" action="">
          {% csrf_token %}
          {% form form %}
          <button class="btn waves-effect" type="submit">Restablecer mi contraseña</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
