{% extends 'base.html' %}

{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h1>{{ title }}</h1>

        {% if validlink %}
          <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
          <form method="post" action="">
            {% csrf_token %}

            <div class="row">
              <div class="input-field col s12">
                <input id="id_new_password1" class="validate" name="new_password1" type="password" required>
                <label for="id_new_password1">Nueva contraseña</label>
                {{ form.new_password1.errors }}
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="id_new_password2" class="validate" name="new_password2" type="password" required>
                <label for="id_new_password2">Repetir contraseña</label>
                {{ form.new_password2.errors }}
              </div>
            </div>

            <button class="btn waves-effect" type="submit">Cambiar mi contraseña</button>
          </form>
        {% else %}
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya
            usado antes. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
