<h1>Login</h1>

<form action='{% url 'home_app:login' %}' method="POST">
  {% csrf_token %}

  {% if next %}
  <input type='hidden' value='{{next}}' name='next'>
  {% endif %}

  <h1 class="text text-center">Bienvenido</h1>
  <input name="username" class="form-control" placeholder="Nombre de usuario o Correo Electrónico">
  <input type="password" name="password" class="form-control" placeholder="Contraseña">
  <button class="btn btn-brand dg-submit-user">Ingresar</button>
</form>

<hr>
<a href={% url 'home_app:home' %}>Home</a>
<hr>