{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
        {% block title %}
        Sales Retail
        {% endblock title %}
        </title>

        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>

        <!-- APP WRAPPER -->
        <div class="app">

            <!-- START APP CONTAINER -->
            <div class="app-container">

                <div class="app-login-box">
                    <div class="app-login-box-user"><img src="{% static "img/user/no-image.png" %}" alt="John Doe"></div>
                    <div class="app-login-box-title">
                        <div class="title">Already a member?</div>
                        <div class="subtitle">Sign in to your account</div>
                    </div>
                    <div class="app-login-box-container">
                        <form action='{% url 'home_app:login' %}' method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                            <div class="form-group">
                                <input name="username" class="form-control" placeholder="username or Correo Electrónico">
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Contraseña">
                                {{ form.password.errors }}
                            </div>
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="app-checkbox">
                                            <label><input type="checkbox" name="app-checkbox-1" value="0"> Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <button class="btn btn-success btn-block">Sign In</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="app-login-box-footer">
                        &copy; Boooya 2016. All rights reserved.
                    </div>
                </div>

            </div>
            <!-- END APP CONTAINER -->

        </div>
        <!-- END APP WRAPPER -->

        <!-- IMPORTANT SCRIPTS -->
        <script type="text/javascript" src="{% static "js/vendor/jquery/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/jquery/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/moment/moment.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js" %}"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app_plugins.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app_demo.js" %}"></script>
        <!-- END APP SCRIPTS -->
    </body>
</html>