{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
        {% block title %}
        Sales Retail
        {% endblock title %}
        </title>
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>

        <!-- APP WRAPPER -->
        <div class="app">

            <!-- START APP CONTAINER -->
            <div class="app-container">

                <div class="app-login-box">
                    <div class="app-login-box-title padding-top-30">
                        <div class="title">Sign Up</div>
                        <div class="subtitle">Join our community with email</div>
                    </div>
                      <form action='{% url 'home_app:signup' %}' method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="first_name" placeholder="Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" type="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Create Account</button>
                            </div>
                        </form>
                    </div>
                    <div class="app-login-box-footer">
                        &copy; Boooya 2016. All rights reserved.
                    </div>
                </div>

            </div>
            <!-- END APP CONTAINER -->

        </div>
        <!-- END APP WRAPPER -->
        <!-- IMPORTANT SCRIPTS -->
        <script type="text/javascript" src="{% static "js/vendor/jquery/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/jquery/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/moment/moment.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js" %}"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app_plugins.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app_demo.js" %}"></script>
        <!-- END APP SCRIPTS -->
    </body>
</html>