{% extends 'base.html' %}

 <title>Register</title>

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h1>Registro nueva cuenta</h1>
        <div class="divider"></div>

        <form action='{% url 'home_app:signup' %}' method="POST">
          {% csrf_token %}

<div class="row">
  <div class="input-field col s12">
    <input id="id_username" class="validate " type="text" value="" name="username" required>
    <label for="id_username">Nombre de usuario<span class="input-required">*</span></label>

  </div>
</div>

<div class="row">
<div class="input-field col s12">
  <input id="id_first_name" class="validate " type="text" value="" name="first_name" required>
  <label for="id_first_name">Nombres<span class="input-required">*</span></label>
</div>
</div>
<div class="row">
<div class="input-field col s12">
  <input id="id_last_name" class="validate " type="text" value="" name="last_name" required>
  <label for="id_last_name">Apellidos<span class="input-required">*</span></label>
</div>
  </div>
<div class="row">
<div class="input-field col s12">
  <input id="id_email" class="validate " type="email" value="" name="email" required>
  <label for="id_email">Email<span class="input-required">*</span></label>
</div>
  </div>
 <div class="row">
<div class="input-field col s12">
  <input id="id_password" class="validate " type="password" value="" name="password" required>
  <label for="id_password">Password<span class="input-required">*</span></label>
</div>
  </div>
     <div class="row">
<div class="input-field col s12">
  <input id="id_password1" class="validate " type="password" value="" name="password1" required>
  <label for="id_password1">Repetir contraseña<span class="input-required">*</span></label>
</div>
  </div>

          <button class="btn waves-effect" type="submit">Crear Cuenta</button>
          <a class="btn waves-effect blue" href="{% url 'home_app:login' %}">¿Tienes una cuenta?</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
